/* custom background color */
.bg-teal{
    background-color: #008080;
}

/* custom text color */
.text-teal{
    color: #008080;
}

/* custom link color */
.link-teal{
    color: #008080;
}
.link-teal:hover{
    color: #006b6b;
}
