@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
/* font */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(29, 29, 29);
}

.nav-scroller {
    position: relative;
    z-index: 2;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav::-webkit-scrollbar {
    height: 5px;
}

.nav-scroller .nav::-webkit-scrollbar-thumb {
    background-color: #ffc107;
    border-radius: 5px;
}

.merriweather {
    font-family: 'Merriweather', serif;
}

.roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

/* custom background color */

.bg-smoke {
    background-color: #ebebeb;
}

.bg-teal {
    background-color: #008080;
}

.bg-light-teal {
    background-color: #8fc5c5;
}

.bg-blue-light-1 {
    background-color: #1976d2;
}

.bg-blue-light-5 {
    background-color: #e2edf8;
}

.text-blue-light-1 {
    background-color: #1976d2;
}

.rounded-15 {
    border-radius: 15px;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-40 {
    border-radius: 40px;
}

.rounded-35-bottom {
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.rounded-35-top {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.rounded-20-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rounded-20-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.rounded-20-left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* custom text color */

.text-teal {
    color: #008080;
}

.text-blue-light-1 {
    color: #1976d2;
}

/* custom link color */

.link-teal {
    color: #008080;
}

.link-teal:hover {
    color: #006b6b;
}

.link-blue-light-1 {
    color: #1976d2;
}

.link-blue-light-1:hover {
    color: #1769bb;
}

.link-yellow-1 {
    color: #ffff00;
}

.link-yellow-1:hover {
    color: #d8d801;
}

/* custom button color */

.btn-teal {
    background-color: #008080;
    color: white;
}

.btn-teal:hover {
    background-color: #006b6b;
    color: white;
}

/* image */

img[src*="#w100"] {
    width: 100%;
    height: auto;
}

img[src*="#w50"] {
    width: 50%;
    height: auto;
}

blockquote {
    border-left: 7px solid darkgray;
    padding: 15px 10px 1px 10px;
    background-color: rgb(240, 240, 240);
}