:root {
    --dark-blue: #004d7c;
    --dark-blue-hover: #003f66;
    --lighter-blue: #007CC7ff;
    --lighter-blue-hover: #0072b9ff;
    --lightest-blue: #4DA8DAff;
    --shadow-dark-blue: #203647ff;
    --shadow-light-blue: #EEFBFBff;
    --light-blue-gray: #ebf4ff;
    --dark-orange: #c74600;
    --dark-orange-hover: #aa3c00;
    --light-orange: #ff9b65;
    --light-gray: #f1f1f1;
    --light: #f6f6f6;
}

::-moz-selection {
    color: var(--light);
    background: var(--dark-orange);
}

::selection {
    color: var(--light);
    background: var(--dark-orange);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* background */

.bg-light-gray {
    background-color: var(--light-gray);
}

.bg-light-blue-gray {
    background-color: var(--light-blue-gray);
}

.bg-primary-dark {
    background-color: var(--dark-blue);
}

.bg-primary-light {
    background-color: var(--lighter-blue);
}

.bg-primary-lightest {
    background-color: var(--lightest-blue);
}

.bg-dark-orange {
    background-color: var(--dark-orange);
}

.bg-light-orange {
    background-color: var(--light-orange);
}

.bg-blue-gradient {
    background-image: linear-gradient(to right, #007CC7ff, #4DA8DAff);
}

.bg-blue-gradient-dark {
    background-image: linear-gradient(to bottom right, var(--dark-blue), var(--lighter-blue));
}

/* text */

.text-primary-light {
    color: #F7F7FF;
}

.text-lighter-blue {
    color: var(--lighter-blue)
}

.text-soft-black {
    color: rgb(78, 78, 78);
}

/* link */

[class*=link-] {
    text-decoration: none;
}

.link-dark-blue {
    color: var(--dark-blue)
}

.link-dark-blue:hover {
    color: var(--dark-blue-hover)
}

.link-lighter-blue {
    color: var(--lighter-blue)
}

.link-lighter-blue:hover {
    color: var(--lighter-blue-hover)
}

.link-dark-orange {
    color: var(--dark-orange);
}

.link-dark-orange:hover {
    color: var(--dark-orange-hover);
}

.link-light-custom {
    color: var(--light);
}

.link-light-custom:hover {
    color: var(--dark-orange);
}

/* button */

button.navbar-toggler {
    box-shadow: none!important;
    outline: none;
    border: none;
}

.btn {
    box-shadow: none!important;
}

.btn-light-blue {
    background-color: var(--lighter-blue);
    color: var(--shadow-light-blue);
}

.btn-light-blue:hover {
    background-color: var(--lighter-blue-hover);
    color: var(--shadow-light-blue);
}

.btn-dark-orange {
    background-color: var(--dark-orange);
    color: var(--light);
}

.btn-dark-orange:hover {
    background-color: var(--dark-orange-hover);
    color: var(--light);
}

/* border */

.border-dark-orange {
    border: 2.5px solid var(--dark-orange);
}

/* font */

.public-sans {
    font-family: 'Public Sans', sans-serif;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.mplus {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* other elements */

.rounded-a {
    border-radius: .8rem;
}

.card-post {
    transition: transform .3s, box-shadow .3s;
    border-radius: .8em;
    border: 0;
}

.card-post:hover {
    box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.2), 0 6px 20px 0 rgba(20, 20, 20, 0.19);
}

.card-post:hover::after {
    height: 3px;
    animation: card-bottom-border-show .3s;
    position: absolute;
    width: 30%;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100;
    background: var(--lighter-blue);
    content: '';
}

.card-post::after {
    height: 3px;
    animation: card-bottom-border-hide .3s;
    position: absolute;
    width: 0;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100;
    background: var(--lighter-blue);
    content: '';
}

.card-post .card-img-top {
    border-top-left-radius: .8em;
    border-top-right-radius: .8em;
}

.va-middle {
    vertical-align: middle;
}

.va-bottom {
    vertical-align: bottom;
}

.va-top {
    vertical-align: top;
}

@media (max-width: 767.98px) {
    .navbar-collapse {
        margin-top: 1.3rem;
        transition: all .25s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .navbar-collapse ul li {
        padding-bottom: .5rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1130px;
    }
}

@keyframes card-bottom-border-show {
    from {
        width: 0%;
    }
    to {
        width: 30%;
    }
}

@keyframes card-bottom-border-hide {
    from {
        width: 30%;
    }
    to {
        width: 0%;
    }
}